<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.fridge"
        versionCode = "1"
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap Fridge</name>

    <description>
        App to share food.
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Benjamin Oholeguy
    </author>
    <platform name="android" />
</widget>